/* line 19, js/components/App.vue */
html {
  position: relative;
  min-height: 100%; }

/* line 23, js/components/App.vue */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

/* line 27, js/components/App.vue */
.app-content {
  padding: 60px 15px 0; }